In [1]:
# Run this cell to import packages.
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import w3_unittest

from utils import get_vectors

In [2]:
data = pd.read_csv('./data/capitals.txt', delimiter=' ')
data.columns = ['city1', 'country1', 'city2', 'country2']

# print first five elements in the DataFrame
data.head(5)

    city1 country1    city2     country2
0  Athens   Greece  Bangkok     Thailand
1  Athens   Greece  Beijing        China
2  Athens   Greece   Berlin      Germany
3  Athens   Greece     Bern  Switzerland
4  Athens   Greece    Cairo        Egypt

In [10]:
for i, row in data[:5].iterrows():
    print(f"the i is {i}")
    # print(/n)
    print(f"the row is {row['city2']}")

the i is 0
the row is Bangkok
the i is 1
the row is Beijing
the i is 2
the row is Berlin
the i is 3
the row is Bern
the i is 4
the row is Cairo